body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff;
    padding: 20px 0; /* Increased padding to move content away from the top */
    position: sticky;
}
.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Aligns the nav-container's children (the ul) to the center */
    align-items: center;
    position: relative; /* To position the button absolutely within this container */
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-links li {
    margin: 0 10px; /* Adjust spacing between links as needed */
}
.nav-links a {
    text-decoration: none;
    color: #262028;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #716d6d;
}

.button {
    background-color: #445ef6;
    font-size: 0.9em;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute; /* Position the button absolutely */
    right: 0; /* Align the button to the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Offset by half of its height */
}
.button:hover {
    background-color: #333;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */ /* Adjust the height to control vertical positioning */
    text-align: center; /* Centers text inside elements *//* Adjust this value as needed to position higher */
    min-height: 100vh;
}

/* Styles for h1 */
#home h1 {
    font-size: 3em; /* Adjusted font size */ /* Add some space below the h1 */
    width: 50%; /* Set width of h1 */
}

/* Styles for p */
#home p {
    margin-top: -20px;
    width: 50%; /* Set width of p */
    font-size: 1.25em; /* Adjusted font size */
}

#home button {
    margin-top: 10px;
    background-color: #445ef6;
    font-size: 0.9em;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


#projects {
    text-align: center;
    min-height: 100vh;
}

#projectSlideshow {
    background: linear-gradient(to bottom, #b77afc 0%, #445ef6 100%); /* Background color for the div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Spacing inside the div */
    box-sizing: border-box; /* Include padding and border in the width and height */
    z-index: 1000; /* Make sure it's above other items */
    margin: auto;
    width: 75%;
    height: vh;
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-height: 80vh;
}

.slide {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    position: absolute;
    display: none;
}

.active {
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #262028;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1001; 
}



.left-arrow {
    left: 10px;
    
}

.right-arrow {
    right: 10px;
}


.individualSlides, .individualSlidesBoxoffice {
    display: none;
}

.content-container {
    display: flex; /* Enable flexbox *//* Center the content vertically *//* Add some space between the slideshow and icons */
}


.individualSlidesPayroll {
    width: 50%;
    margin: 0;
    padding: 0;
}


.activePic {
    display: block;
    width: 100%;        /* Sets the width to 50% of the parent div */      /* Centers it within the parent div */
    position: relative; /* To position the arrows with respect to this div */
    /* Add any other styles you need, like padding or specific height */
    margin-left: -65px;
    border-radius: 20px;
    margin-top: 100px;
}

.activePic:hover {
    box-shadow: 0 0 10px 5px #f2f3f3,
    0 0 20px 7px #070707;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.slide-text {
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%); /* or any color you want */
    font-size: 1.5em; /* or any size you want */
    z-index: 10; /* make sure it's above the image */
    color: white;
    background-color: #070707;
    border-radius: 25px;
    width: 15%;
    animation: bounce 2s infinite;
}

.icon {
    /* You can set a specific width or max-width for the icons if you want to control their sizes */
    width: 32px ;/* This assumes a gap of 10px; it subtracts the gap divided by two from 50% */
    height: 40px; /* This keeps the aspect ratio of the images intact */
    margin-top: 30px;
}

.icon-container {
    display: flex; /* This will allow you to align the icons vertically or horizontally */
    flex-direction: column; /* Stack icons vertically */
    justify-content: center; /* Center the icons vertically, if that's what you need */
    align-items: center; /* Center the icons horizontally */
    flex-shrink: 0; /* Prevents the container from shrinking */
    margin-left: 70px;
    /* Your existing styles here */
}

.icon-with-progress {
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100px; /* fixed width for the progress bar */
    background-color: #ddd; /* Light grey background */
    margin-left: 10px; /* Space between icon and progress bar */
    height: 10px;
    border-radius: 5px;
    margin-top: 25px;
}

.progress {
    background-color: #4caf50; /* Green color to indicate progress */
    height: 100%;
    border-radius: 5px;
}

.icon-percent {
    margin-top: 40px;
    margin-left: 10px;
    color: white;
}

.project-title, .description {
    color: white;
    text-align: left;
    margin-left: 50px;
}

.description {
    width: 90%;
}

.individualSlidesBoxofficeContainer {
    width: 50%;
    margin: 0;
    padding: 0;
}

.individualSlidesBoxoffice {
    width: 495px;
    height: 310px;
}

#contact {
    min-height: 100vh;
}
.message-icon {
    height: 350px;
    width: 350px;
    padding: 150px;
}

.contact-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.message-div {
    flex: 0 0 auto;
    margin-right: 20px;
    z-index: 1;
}

.contact-form {
    flex: 1;
    margin-right: 50px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid lightgrey;
}

.contact-form form input {
    height: 40px;
    border-radius: 15px;
}

input, textarea{
    text-indent: 10px;
}

.contact-form form textarea {
    height: 70px;
}

@media screen and (max-width: 768px) {
    .contact-area {
        flex-direction: column;
    }

    .message-div, .contact-form {
        width: 100%;
        margin: 10px 0;
    }
}


#contact {
    position: relative;
    background-color: #fff; /* Top color */
    overflow: hidden;
}

.wave-container {
    position: absolute;
    top: 50%; /* Position at the middle */
    transform: translateY(-50%); /* Center it vertically */
    width: 100%;
    height: 100vh; /* Height of the wave */
    z-index: 0;
}

.content-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.contact-image {
    /* Your styling for the image */
    z-index: 1;
    /*position: relative;*/
}

.message-icon {
    z-index: 2;
}

.contact-form {
    /* Your styling for the form */
    z-index: 1;
    position: relative;
    background-color: #fff; /* Match top background color */
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-left: 2em; /* Space between image and form */
}

/* Make sure the form and the image are above the wave */
.contact-form, .contact-image {
    position: relative;
}

/* If you want to make sure that the form and image are centered vertically in the visible part above the wave */
@media screen and (min-height: 600px) {
    .content-container {
        margin-top: -75px; /* Half of the wave height to center the content */
    }
}

.contact-form button{
    /* Your styling for the form */
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    border: none;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, #b77afc 0%, #0328f7 100%);
    
    animation: GradientMove 3s ease infinite alternate;
}

.contact-form button:hover{
    background-color: #333;
    cursor: pointer;
}
  
@keyframes GradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#aboutMe {
    min-height: 100vh;
}

.card {
    min-height: 5vh;
    width: 80%;
    border: 1px solid #445ef6;
    box-shadow: 3px 3px 5px 5px #449df6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.card h1 {
    margin-left: 10px;
    font-size: 1.1em;
}

.about-info {
    display: none;
}

.pin {
    height: 30px;
    width: 30px;
}

.pin-div {
    margin-left: 50px;
    margin-bottom: 50px;
}

.edu-about {
    display: inline;
}

.map {
    height: 25px;
    width: 25px;
}

.map-div p {
    display: inline;
    margin-left: 5px;
}

.role-img {
    width: 30px;
    height: 30px;
}

.work-about {
    display: inline;
    font-size: 1.1em;
}

.role {
    margin-left: 50px;
    margin-bottom: 50px;
}

.card:hover {
    background-color: rgb(238, 236, 236);
    cursor: pointer;
}

.percentage {
    margin-top: 40px;
    margin-left: 10px;
}

.col1 {
    margin-left: 30px;
}